nav {
  padding-bottom: 10px;
  padding-top: 10px;
  border-top: double;
  border-bottom: double;
  border-width: 5px;
}
.home-nav{
    border-color: #317F90;
}
.projects-nav{
    border-color: #539031;
}
nav a {
  padding-right: 10px;
}
body {
  width: 75%;
  padding: 20px;
}
h1, h2, h3, h4, h5, h6 {
  font-family: "Georgia", serif;
  font-style: italic;
}
h1 {
  font-size: 32px;
}
h2 {
  font-size: 26px;
}
h3 {
  font-size: 20px;
}
li {
  padding: 3px;
}
.interests-article {
  border-bottom: double;
  border-color: #317F90;
  border-width: 5px;
}
.projects-article {
  border-bottom: double;
  border-color: #539031;
  border-width: 5px;
}
img {
  border: solid #000;
}
.philippines-img {
  float:left;
  margin-right: 10px;
}
.summer-img {
  float:right;
  margin-left: 10px;
}
